.App {
  text-align: center;
}

.mainCard {
  display: flex;
  padding: 50px;
  background-color: bisque;
  width: 100vw;
}

.welcome {
  display: flex;
  padding: 50px;
  background-color: bisque;
  width: 100vw;
}

.form {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 100vw;
}

.marginToElement {
  margin-right: 30px;
  margin-bottom: 15px;
}

.titleText {
  width: 15vw;
}


.detailsText{
  width: 35vw;
}


.menu menuItem{
  width: 25vw;
}

.addNewButton addButton {
  width: 25vw;
}


.details {
  width: 95%;
}

.menuItem {
  width: max-content;
}

.welcome h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}


.addButton {
  background-color: rgba(33, 182, 125, 0.68) !important;
  padding: 14px 30px!important;
  font-size: 18px!important;
  border-radius: 35px!important;
  margin-top: 5px;
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
  max-width: max-content;
}
